---
import Mainlayout from "@layouts/Mainlayout.astro";
import Link from "@components/Link.astro";
---

<Mainlayout>
  <section class="container about" aria-label="About Me">
    <img src="../../images/hi.jpg" alt="Animated Hi" width="200" height="330" />
    <div>
      <h1 class="h1">About Me</h1>
      <p>
        Hello, I'm Xaaha. I've always maintained concise, straightforward notes
        on technology topics. Instead of keeping them in Obsidian, I'm now
        sharing them in a blog format.
      </p>
    </div>
    <Link
      href="mailto:pratik@tldrnotes.net"
      style="primary"
      text="Contact Me"
    />
  </section>
</Mainlayout>
