---
import Mainlayout from "@layouts/Mainlayout.astro";
import Link from "@components/Link.astro";
---

<Mainlayout title="About Xaaha">
  <section class="container about" aria-label="About Me">
    <div class="center-contact">
      <img
        src="../../images/hi.jpg"
        alt="Animated Hi"
        width="200"
        height="330"
      />
    </div>
    <div class="about-content">
      <h1 class="h1">About Me</h1>
      <p>
        Hey, I’m Pratik. I build software (and character) using Neovim.
        <br />
        I am a Mechanical Engineer by degree, but statics broke me. Now I tinker
        with my nvim config and buld software projects full-time to cope.
        <br />
        This is a my digital notebook 📒 after longs sessions with AI.
      </p>
    </div>
    <div class="center-contact">
      <Link
        href="mailto:pratik@tldrnotes.net"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</Mainlayout>
