---
import Mainlayout from "@layouts/Mainlayout.astro";
import Link from "@components/Link.astro";
---

<Mainlayout title="About Xaaha">
  <section class="container about" aria-label="About Me">
    <div class="center-contact">
      <img
        src="../../images/hi.jpg"
        alt="Animated Hi"
        width="200"
        height="330"
      />
    </div>
    <div class="about-content">
      <h1 class="h1">About Me</h1>
      <p>
        Hey, I’m Pratik. I build software (and character) using Neovim
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 64 64"
          style="vertical-align: middle; margin-left: 4px;"
        >
          <path
            style="opacity:.2"
            d="m20 5-9.6094 8 0.0039 0.0039v0.002l-2.395 1.994v36l12 10v-34.275l24 34.275 9.6094-8-0.0039-0.0039v-0.002l2.394-1.994v-36l-12-10v34.275z"
          ></path>
          <path style="fill:#6ba63f" d="m56 14-12-10v56l12-10z"></path>
          <path style="fill:#42afe6" d="m8 14 12-10v56l-12-10z"></path>
          <path style="fill:#96ca6b" d="m20 4 33.61 48-9.61 8-33.61-48z"></path>
          <path style="fill:#569e41" d="m44 38.277v21.723l9.6055-8.0039z"
          ></path>
          <path style="fill:#70be63" d="m20 4-9.605 8.004 9.605 13.719z"></path>
          <path
            style="opacity:.2;fill:#ffffff"
            d="m20 4l-9.609 8 0.004 0.004v0.002l-2.395 1.994v1l2.395-1.994v-0.002l-0.004-0.004 9.609-8 24 34.275v-1l-24-34.275zm24 0v1l12 10v-1l-12-10z"
          ></path>
        </svg>
        .<br />
        I’m a Mechanical Engineer by degree, but Statics broke me. Now I build software
        full-time. This also gives me chance to tinker with my config endlessly.<br
        />
        This is my notebook 📒 — compiled after long sessions with AI.
      </p>
    </div>
    <div class="center-contact">
      <Link
        href="mailto:pratik@tldrnotes.net"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</Mainlayout>
