---
import Mainlayout from "@layouts/Mainlayout.astro";
import Link from "@components/Link.astro";
---

<Mainlayout>
  <section class="container about" aria-label="About Me">
    <img
      src="../../public/images/hi.jpg"
      alt="Animated Hi"
      width="200"
      height="330"
    />
    <div>
      <h1 class="h1">About Me</h1>
      <p>
        Hi, I am xaaha. I have always kept short, to-the-point notes on topics I
        learn. These are my reference materials. Hope you find them helpful.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
        voluptatem illo. Reprehenderit at voluptatem reiciendis vitae molestias
        rem labore, debitis maxime architecto quos eligendi ipsam laboriosam
        expedita quasi. Nobis, explicabo.
      </p>
    </div>
    <Link
      href="mailto:pratik@tldrnotes.net"
      style="primary"
      text="Contact Me"
    />
  </section>
</Mainlayout>
