---
import Mainlayout from "@layouts/Mainlayout.astro";
import Link from "@components/Link.astro";
---

<Mainlayout title="About Xaaha">
  <section class="container about" aria-label="About Me">
    <div class="center-contact">
      <img
        src="../../images/hi.jpg"
        alt="Animated Hi"
        width="200"
        height="330"
      />
    </div>
    <div class="about-content">
      <h1 class="h1">About Me</h1>
      <p>
        Hey, I’m Pratik — a fullstack software engineer powered by coffee and
        Neovim.
        <br />
        I was trained as a Mechanical Engineer, but thermodynamics and statics traumatized
        me enough to switch careers. Now I tinker with my Neovim config full time
        and occasionally build projects to cope.
        <br />
        This isn’t a blog. It’s a digital notebook for future me. But if you landed
        here after googling “who else uses Vim?” — welcome, you’re among friends.
      </p>
    </div>
    <div class="center-contact">
      <Link
        href="mailto:pratik@tldrnotes.net"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</Mainlayout>
