---
import Mainlayout from "@layouts/Mainlayout.astro";
import Search from "@components/Search";
import { getNotes } from "@scripts/utils";
const sortedPosts = await getNotes();
---

<Mainlayout>
  <section class="container" aria-label="New Notes">
    <h1 class="h1">Search Notes</h1>
    <Search client:load searchList={sortedPosts} />
  </section>
</Mainlayout>
