---
import Mainlayout from "@layouts/Mainlayout.astro";
---

<Mainlayout />

<!-- <html> -->
<!--   <body> -->
<!--     <h1>Index Page</h1> -->
<!--   </body> -->
<!-- </html> -->
<!-- <style> -->
<!--   h1 { -->
<!--     color: orange; -->
<!--   } -->
<!-- </style> -->
