---
import Tags from "@components/Tags.astro";

const { category } = Astro.props as Frontmatter;
---

<div class="container">
  <Tags {category} />
  <!-- TODO  add the last article or article of my choosing after this -->
</div>
