---
// import component
import Footer from "@components/Footer.astro";
import MainHead from "./MainHead.astro";
import Nav from "@components/Nav.astro";

// style import
import "src/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Tldr Notes", description = "To the point tech notes" } =
  Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <Nav />
    <slot>Welcome to Tldr Notes!</slot>
    <Footer />
  </body>
</html>
