---
// import component
import MainHead from "./MainHead.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Tldr Notes", description = "To the point tech notes" } =
  Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot>Welcome to Tldr Notes!</slot>
  </body>
</html>
